/* style.css */
body {
    font-family: Arial, sans-serif;
    background: url('https://github.com/lyi46/my-web/raw/main/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
}
